body {
  margin: 0;
  padding: 0;
  background: #c2c2d6;
}
#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
p {
  text-align: center;
}
.calculator {
  border: solid 3px;
  width: 320px;
  position: relative;
  margin: 0;
  padding: 0;
}
button {
  height: 65px;
  width: 80px;
  background-color: pink;
  margin: 0px;
  padding: 0px;
}
button:hover {
  background-color: white;
}
.wideButton {
  width: 160px;
}
h1 {
  height: 50px;
  border: solid 1px;
  background-color: orange;
  margin: 0;
  padding: 0;
  text-align: right;
}