body {
  margin: 0;
  padding: 0;
}
#root{
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  height: 550px;
  border: solid #a1aba2 2px;
}
.chartSec{
  width: 750px;
  height: 300px;
  margin: 0;
  padding-right: 70px;
}
.buttonSec{
  width: 600px;
  border: solid #a1aba2 2px;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px;
}
p {
  margin: 0;
  padding: 0;
}